@font-face {
    font-family: 'Chokokutai';
    src: url('Chokokutai-Regular.woff2') format('woff2'),
        url('Chokokutai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

